.todoItem {
  height: 50px;
  line-height: 50px;
  border: 1px solid #ccc;
  border-bottom: 0 none;
  padding: 0 10px;
}
.todoItem label {
  cursor: pointer;
}
.todoItem:last-child {
  border-bottom: 1px solid #ccc;
}
.todoItem input {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.todoItem span {
  vertical-align: middle;
  margin-left: 5px;
}
.todoItem button {
  border: 0 none;
  outline: none;
  width: 50px;
  height: 25px;
  line-height: 25px;
  float: right;
  margin-top: 12px;
  background-color: orange;
  color: #fff;
  cursor: pointer;
}
.en {
  background-color: skyblue;
}
